<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("chef", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-two-col">
            <div class="tab" tab="x">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("chef", "x") #></a></div>
                </div>
            </div>
			
            <div class="tab" tab="y">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("chef", "y") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">
        
        <!-- x -->

        <div class="box-paper footer has-footer-upper twOverflow-content-x">
        </div>

        <!-- y -->

        <div class="box-paper footer has-footer-upper twOverflow-content-y">
        </div>

    </div>
</div>
